# CR-10 V3 reference macros

[gcode_macro _USER_VARS]
variable_bed_temp: 60
variable_extruder_temp: 210
variable_standby_nozzle: 150
gcode:

[gcode_macro CASE_FANS_ON]
description: Turn case fans on
gcode:
  SET_FAN_SPEED FAN=case_fans SPEED=1.0

[gcode_macro CASE_FANS_OFF]
description: Turn case fans off
gcode:
  SET_FAN_SPEED FAN=case_fans SPEED=0.0

[gcode_macro CASE_FANS_TOGGLE]
description: Toggle case fans
gcode:
  {% set fan = printer["fan_generic case_fans"].speed|float %}
  {% if fan > 0 %}
    CASE_FANS_OFF
  {% else %}
    CASE_FANS_ON
  {% endif %}

[gcode_macro START_PRINT]
description: Bed heat, soak, home, mesh, nozzle heat, purge
gcode:
  {% set bed = params.BED_TEMP|default(printer["gcode_macro _USER_VARS"].bed_temp)|float %}
  {% set noz = params.EXTRUDER_TEMP|default(printer["gcode_macro _USER_VARS"].extruder_temp)|float %}
  {% set standby = printer["gcode_macro _USER_VARS"].standby_nozzle|float %}
  M140 S{bed}
  M104 S{standby}
  G90
  M83
  M190 S{bed}
  G4 S60
  G28
  Z_TILT_ADJUST
  G28 Z
  BED_MESH_CALIBRATE
  M109 S{noz}
  LINE_PURGE

[gcode_macro END_PRINT]
description: Safe shutdown moves after print
gcode:
  M400
  G91
  G1 E-2 F1800
  G1 Z10 F1200
  G90
  G1 X10 Y290 F6000
  M104 S0
  M140 S0
  M106 S0
  CASE_FANS_OFF
  M84

[gcode_macro LINE_PURGE]
description: Basic purge line
gcode:
  G92 E0
  G1 Z0.28 F1200
  G1 X5 Y10 F6000
  G1 X5 Y200 E12 F1200
  G1 X6 Y200 F6000
  G1 X6 Y10 E12 F1200
  G92 E0

